:export {
  approvedColor: $approved_color;
  redboxColor: $redbox_color;
  redbox_ideaColor: $redbox_color;
  redbox_fundingColor: $redbox_color;
  blueboxColor: $bluebox_color;
  bluebox_ideaColor: $bluebox_color;
  bluebox_fundingColor: $bluebox_color;
  goldboxColor: $goldbox_color;
  alumniColor: $alumni_color;
}
