<template>
  <div class="base-control-container">
    <base-control-wrapper v-bind="$props">
      <template v-slot:header="{ label }">
        <slot :label="label" name="header">
          <div class="base-control-container-header-wrapper">
            <span class="base-control-container-header">{{ label }}</span>
          </div>
        </slot>
      </template>
      <template v-slot:form-control="{ onFocus }">
        <v-text-field
          :id="id"
          :ref="id"
          :append-icon="$attrs['append-icon']"
          :append-outer-icon="$attrs['append-outer-icon']"
          :autocomplete="autocomplete"
          :background-color="styleVariables.lightGrey"

          :data-ruid="`input-${id}`"
          :disabled="$attrs.isDisabled"
          :height="$attrs.height || 56"

          :loading="loading"
          :placeholder="placeholder"
          :prepend-inner-icon="$attrs['prepend-inner-icon']"
          :readonly="disabled"
          :type="type"


          :value="$attrs.value"
          class="base-control-container-text"
          dense
          flat
          hide-details
          solo

          @blur="() => onFocus(false)"
          @focus="() => onFocus(true)"
          @input="$emit('input',$event)"
          @paste="$emit('paste',$event)"
          @click:append="$emit('clickAppend',$event)"
          @click:append-outer="$emit('clickAppendOuter',$event)"
        >
          <template v-if="isMoneyField" v-slot:prepend-inner>
            <img width="24" height="24" src="../../assets/dollar.svg" >
          </template>
          <template v-slot:append-outer>
            <slot name="append-outer"/>
          </template>
        </v-text-field>
      </template>
      <template v-slot:errors="{ errors }">
        <slot :errors="errors" name="errors"/>
      </template>
      <template v-slot:footer>
        <slot name="footer"/>
      </template>
      <template v-slot:help>
        <slot name="help"/>
      </template>
    </base-control-wrapper>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import styleVariables from '../../styles/export.scss';
import BaseFormControl from '../../helpers/BaseFormControl';
import BaseControlWrapper from './BaseControlWrapper.vue';

@Component({
  name: 'BaseTextInput',
  components: {
    BaseControlWrapper
  }
})
export default class BaseTextInput extends BaseFormControl {
  @Prop({ default: 'off' }) autocomplete!: string;

  @Prop({ default: false }) showInfoCircle!: boolean;

  @Prop({ default: false }) isMoneyField!: boolean;

  styleVariables = styleVariables;

  created(): void {
    super.created();
  }
}
</script>
