<template>
  <v-main class="app-body">
    <v-container fluid>
      <router-view/>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
  name: 'AppBody',
  components: {}
})
export default class AppBody extends Vue {
}
</script>

<style lang="scss">
.app-body {
  margin-top: 50px;
}

.app-navigation-bar {
  margin-top: 60px;

  .v-navigation-drawer {
    &.v-navigation-drawer--is-mobile.v-navigation-drawer--open {
      margin-top: 60px;
    }

    background-color: $element_background_color !important;
  }
}
</style>
