<template>
  <div class="footer-container">
    <v-row no-gutters justify="space-between">
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import Vue from 'vue';

@Component({
  name: 'Footer'
})
export default class Footer extends Vue {
}
</script>

<style lang="scss">
.footer-container {
  font-size: 13px;
  font-weight: 500;
  color: #5f5f5f;
  padding: 12px 15px;
  box-shadow: 0 0 20px 0 rgba(210, 210, 210, 0.6);
  background-color: white;
}
</style>
