<template>
  <div class="header-container">
    <v-toolbar>
      <v-toolbar-title
        class="header--item__left cursor-pointer"
      >
        <img
          alt="Services logo"
          class="logo logo--app"
          src="/img/logo.svg"
        />
      </v-toolbar-title>
      <div v-if="$vuetify.breakpoint.smAndDown">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-app-bar-nav-icon
              v-bind="attrs"
              v-on="on"
            ></v-app-bar-nav-icon>
          </template>
        </v-menu>
      </div>
    </v-toolbar>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import Vue from 'vue';
import AppLogos from '@improve/common-components/src/components/widgets/AppLogos.vue';

@Component({
  name: 'Header',
  components: {
    AppLogos
  }
})
export default class Header extends Vue {
  goHome(): void {
    this.$router.push({ name: 'Dashboard' });
  }
}
</script>

<style lang="scss">
.header-container {
  position: fixed;
  width: 100%;
  z-index: 99;

  .rready-logo {
    margin-bottom: 10%
  }

  .v-toolbar {
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1) !important;
    background-color: $white !important;
    height: 60px !important;

    &__title {
      cursor: pointer;
    }

    .v-toolbar__content {
      height: 60px !important;
      padding: 4px 27px;

      .v-toolbar__items {
        padding: 20px 0;
        font-size: 13px;
        font-weight: 500;
        color: #404040;

        .toolbar-item-url {
          cursor: pointer;
        }

        .toolbar-item:not(:last-of-type):after {
          content: "";
          margin-right: 30px;
        }
      }
    }
  }
}
</style>
