// Specific theme styles
.base-pill-container.project-phase {
  border-color: transparent !important;

  &.pending {
    color: $white;
    border-color: $pending_color;
    background-color: $pending_color;
  }

  &.approved {
    color: $white;
    background-color: $approved_color;
  }

  &.redbox,
  &.redbox_idea,
  &.redbox_funding {
    color: $white;
    background-color: $redbox_color;
  }

  &.bluebox,
  &.bluebox_idea,
  &.bluebox_funding {
    color: $white;
    background-color: $bluebox_color;
  }

  &.goldbox {
    color: $white;
    background-color: $goldbox_color;
  }

  &.alumni {
    color: $white;
    background-color: $alumni_color;
  }
}
