#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $primary_text_color;
}

#app-bar{
  z-index: 10;
}

a {
  text-decoration: none;
}

.custom-content {
  h3 {
    font-size: 17px;
    font-weight: 600;
    color: $primary_text_color;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    color: $secondary_text_color;
  }
}

.base-control-container,
.base-control-wrapper-container {
  padding-bottom: 10px !important;

  .base-control-container-header {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $base_dark_text_color;
    padding: 0 0 8px 0;
  }

  .base-control-container-header-wrapper {
    display: flex;
    align-items: center;

    .base-control-container-header-svg {
      padding: 0 0 8px 6px;
    }
  }
}

.base-control-container,
.base-control-container,
.base-text-input-container {
  .v-text-field {
    border-radius: $radius_medium !important;
  }
}

.base-control-container,
.password-input-container {
  .v-input__control {
    border-radius: $radius_medium !important;
  }
}

.base-control-container-text,
.base-control-container-text-area,
.base-control-container-select,
.base-control-container-auto-complete {
  padding-bottom: 5px !important;

  .v-input__control {
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: $radius_medium;
    border: solid 1px $border-color !important;
    color: $base_dark_text_color;
    background-color: $element_background_color;

    .v-icon.v-icon {
      font-size: 20px;
      color: $sub_title_color !important;
    }

    .fa-search {
      font-size: 20px;
    }

    .v-select__slot {
      padding-left: 5px;
    }

    &:focus{
      border-color: $primary_color !important;
    }

    input,
    textarea {
      color: $input_text_color_dark;
    }
  }
  .v-input__append-outer {
    margin: 0 0 0 16px !important;
  }

  &.v-input--is-focused {
    .v-input__control {
      border-color: $primary_color !important;

      input,
      textarea {
        color: $input_text_color;
      }
    }
  }
}


.base-control-container-error {
  color: $error_color !important;
  padding: 5px 0 0 0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.common-tab-props {
  margin: 30px 0 100px 0;

  .tab-body-header-label {
    font-size: 22px;
    font-weight: 500;
    color: $primary_text_color;
    margin: 25px 0;
  }
}

.base-control-tabs {
  &::v-deep .v-tabs-bar {
    .v-tab {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: normal;
      color: $secondary_text_color;
    }

    .v-slide-group__prev {
      display: none !important;
    }
  }
}

.header {
  margin: 30px 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  color: $primary_text_color;
}

.base-card-header {
  font-size: 20px;
  font-weight: 600;
  color: $primary_text_color;
}

.base-thumbnail-container {
  padding: 5px 0;
  align-items: center;

  .thumbnail-image {
    padding: 0 5px;
  }

  .thumbnail-details {
    padding: 0 8px;
    max-width: 200px;
    font-weight: 500;

    .thumbnail-details-title {
      font-size: 16px;
      color: $primary_text_color;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .thumbnail-details-subtitle {
      font-size: 12px;
      font-weight: 500;
      color: #a6a6a6;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.file-uploads label {
  cursor: pointer;
}

.progress-bar-blue-grey {
  &.v-progress-linear__background {
    opacity: 1 !important;
    background-color: $lighter_grey !important;
  }

  background-color: $primary_color !important;
}

//Old Vuetify row definition until they fix the row
.old-vuetify-row {
  margin: 0 -12px !important;
}

.d-hidden {
  visibility: hidden;
}

.app-footer {
  z-index: 8;
}

.theme--light.v-footer {
  background-color: $light_grey;
  border-top: 1px solid $border-color;
}
