:export {
  body_max_width: $body_max_width;
  secondaryBlue: $secondary_blue;
  lightGrey: $light_grey;
  lighterGrey: $lighter_grey;
  mediumGrey: $placeholder_text_color;
  darkGrey: $dark_grey;
  approvedColor: $approved_color;
  redboxColor: $redbox_color;
  redbox_ideaColor: $redbox_color;
  redbox_fundingColor: $redbox_color;
  blueboxColor: $bluebox_color;
  bluebox_ideaColor: $bluebox_color;
  bluebox_fundingColor: $bluebox_color;
  goldboxColor: $goldbox_color;
  alumniColor: $alumni_color;
}
