.base-control-tabs {
  .v-tabs-bar {
    background-color: inherit !important;

    .v-tab {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: normal;
      color: $secondary_text_color;
    }

    .v-slide-group__prev {
      display: none !important;
    }
  }
}