// ---------- IMPROVE ----------
$pending_color: $sub_title_color;
$draft_color: $pending_color;
$approved_color: #38C67C;
$redbox_color: $error_color;
$redbox_funding_color: $redbox_color;
$bluebox_color: $primary_color;
$bluebox_funding_color: $bluebox_color;
$goldbox_color: #F19035;
$alumni_color: $dark_grey;
// ---------- KICKBOX ----------
$pending_color: $sub_title_color;
$draft_color: $pending_color;
$approved_color: #38C67C;
$redbox_color: $error_color;
$redbox_funding_color: $redbox_color;
$bluebox_color: $primary_color;
$bluebox_funding_color: $bluebox_color;
$goldbox_color: #F19035;
$alumni_color: $dark_grey;
