// ---------- COLOURS ----------
$white: #FFFFFF !default;
$black: #000000 !default;
$main_blue: #1B31A8 !default;
$main_purple: #7910FF !default;
$secondary_blue: #F2F8FF !default;
$light_grey: #FAFAFA !default;
$lighter_grey: #E5E5E5 !default;
$lightest_grey: #FCFCFC;
$dark_grey: #4E545B !default;
$medium_grey: #808080;

$dotted-border-color: #B6D9FB !default;
$primary_color: $main_blue !default;
$primary_background_color: $secondary_blue !default;
$primary_text_color: #333333 !default;
$secondary_text_color: #737373 !default;
$sub_title_color: #999999 !default;
$input_text_color: #4D4D4D !default;
$input_text_color_dark: #353535 !default;
$placeholder_text_color: #B3B3B3 !default;
$border-color: #E6E6E6 !default;
$error_color: #FF4A4A !default;
$element_background_color: $light_grey !default;
$calendar_color: #838383 !default;

$card_status_color: #808080 !default;
$card_shadow: #e0e0e0 !default;
$card_shadow_hover: #c7c7c7 !default;
$header_background_color: $dark_grey !default;
$header_text_color: $white !default;
$primary_button_text_color: $white !default;
$button_disabled_background: $border-color;
$button_disabled_text: $white;
$page_header_gradient_color: $lighter_grey !default;
$base_card_shadow-color: rgba(179, 179, 179, 0.3) !default;
$base_dark_text_color: #666666 !default;
$base_control_border_color: #CCCCCC !default;

$warning_banner_border_color: #F6C2C3 !default;
$warning_banner_border_background: #FDF6F6 !default;

$pill_border_color: #CFE6FC;
$table_border_color: #EBEBEB;
$icon_background_color: linear-gradient(0deg, #F5F5F5, #F5F5F5) !default;

// ---------- DIMENSIONS ----------
$body_max_width: 1000px !default;
$radius_small: 4px;
$radius_medium: 6px;
$radius_base_button: 32px;
$radius_large: 8px;
