<template>
  <span class="login-view-container">
    <base-centered-card
      :title="'Buy a house'"
    >
      <validation-observer ref="obs">
        <buy-house-form
          v-model="amount"
          @updatedValue="inputMoney($event)"
        >
        </buy-house-form>
      </validation-observer>
    </base-centered-card>
  </span>

</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import Vue from 'vue';
import BaseButton from '@improve/common-components/src/components/widgets/BaseButton.vue';
import BuyHouseForm from '@improve/common-components/src/components/forms/BuyHouseForm.vue';
import BaseCenteredCard
  from '@improve/common-components/src/components/widgets/BaseCenteredCard.vue';

@Component({
  name: 'Dashboard',
  components: {
    BuyHouseForm,
    BaseButton,
    BaseCenteredCard
  }
})
export default class Dashboard extends Vue {
  loading = false;

  amount = '';

  inputMoney(event: string): void {
    this.amount = event;
  }
}
</script>

<style lang="scss" scoped>
  .component-container {

  }
</style>
