<template>
  <form
    class="component-container"
    data-ruid="title-login"
    @submit.prevent
  >
    <v-row>
      <v-col>
    <base-text-input
      id="amount"
      ref="amount"
      v-model="amount"
      :is-money-field="true"
      :field="$t('form.amount')"
      :label="$t('form.amount')"
      :rules="['required']"
      @input="inputValue(amount)"
    >
      <template v-slot:header="{}">
        <v-row justify="space-between" no-gutters>
          <v-col md="auto">
            <div class="base-control-container-header">
              {{ $t('form.amount') }}
            </div>
          </v-col>
        </v-row>
      </template>
    </base-text-input>
      </v-col>
      <v-col>
      <ticket-status-switcher
      style="margin-top: 11%"
      @updatedDate="updatedDate($event)"
      >

      </ticket-status-switcher>
      </v-col>
    </v-row>
    <div v-if="showCalc">
    <v-card
    :height="80"
    :elevation="0"
    style="border: 1px solid #E9EEF2"
    >
      <v-row>
        <v-col>
      <v-card-text style="font-size: 20px; margin-top: 3.5%">
        Monthly amount
      </v-card-text>
        </v-col>
        <v-col
        :cols = cols
        >
      <v-card-text style="font-size: 32px; margin-left: auto;margin-top: 10%; color: #0079FF">
        $ {{ monthlyAmount }}
      </v-card-text>
        </v-col>
      </v-row>
    </v-card>
    <v-card
      :height="80"
      :elevation="0"
      style="border: 1px solid #E9EEF2; background: #F4F8FA"
    >
      <v-card-text style="font-size: 12px">
        You're planning <b>{{ reachGoalMonths }} monthly deposits</b> to reach your <b>$ {{ amount }}</b>
        goal by {{ actualMonth }} {{ actualYear }}
      </v-card-text>
    </v-card>
    </div>
    <slot name="error"/>
    <BaseButton
      :title="$t('form.button.confirm')"
      block
      color="primary"
      data-ruid="button-login"
      type="submit"
      class="mt-4 button-confirm"
      @pressed="submit()"
    />
  </form>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import BaseTextInput from '../core/BaseTextInput.vue';
import BaseButton from '../widgets/BaseButton.vue';
import TicketStatusSwitcher from '../widgets/TicketStatusSwitcher.vue';

@Component({
  name: 'BuyHouseForm',
  components: {
    BaseTextInput,
    BaseButton,
    TicketStatusSwitcher,
  }
})
export default class BuyHouseForm extends Vue {
  amount: string | null = null;

  showCalc = false;

  actualDate = this.$date();

  actualMonth = this.actualDate.format('MMMM');

  actualYear = this.actualDate.format('YYYY');

  monthlyAmount= '';

  reachGoalMonths = '';

  cols = 5;

  updatedDate(event: any) {
    this.actualDate = event;
    this.actualMonth = this.actualDate.format('MMMM');
    this.actualYear = this.actualDate.format('YYYY');
    this.showCalc = false;
  }

  submit(): void {
    const isNum = /^\d+\.\d+$/.test(this.amount!.replaceAll(',', ''));
    if (!isNum) {
      this.amount = '';
      return;
    }
    if (this.amount!.length > 10) {
      this.cols = 6;
    }
    const desiredAmount = Number(this.amount!.replaceAll(',', ''));
    const reachGoalMonths = this.actualDate.diff(this.$date(), 'month') + 1;
    this.monthlyAmount = (desiredAmount / reachGoalMonths).toFixed(2);
    this.reachGoalMonths = reachGoalMonths.toString();
    this.showCalc = true;
  }

  inputValue(event: string): void {
    this.amount = event.replace(/\d(?=(\d{3})+\.)/g, '$&,');
  }
}
</script>

<style lang="scss" scoped>
.component-container {
  .button-confirm{
    cursor: pointer;
    width: 320px !important;
    margin-left: auto;
    margin-right: auto
  }
}
</style>

<style lang="scss">
.login.app-body {
  .base-control-container-error {
    background-color: white;
  }
}
</style>
