<template>
  <v-toolbar-title
    class="header--item__left cursor-pointer"
  >
    <img
      class="logo logo--app"
    />
    <div class="logo-divider"></div>
    <img
      class="logo logo--company"
    />
  </v-toolbar-title>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
  name: 'AppLogos'
})
export default class AppLogos extends Vue {
}
</script>

<style lang="scss" scoped>

.header--item__left {
  overflow: visible !important;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
</style>
