<template>
  <div class="base-button-container">
    <v-btn
      v-bind="$attrs"
      :class="{'button-depressed' : isDepressed }"
      :data-ruid="buttonId"
      :elevation="elevation"
      :height="$attrs.height || 56"
      class="base-button"
      @click.native="$emit('pressed')"
    >
      <slot name="default">
        {{ title }}
      </slot>
    </v-btn>
    <slot name="footer"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

@Component({
  name: 'BaseButton',
  inheritAttrs: false
})
export default class BaseButton extends Vue {
  @Prop({ default: '' }) readonly title!: string;

  @Prop({ default: '' }) readonly customId!: string;

  get isDepressed(): boolean {
    return Object.prototype.hasOwnProperty.call(this.$attrs, 'depressed');
  }

  get elevation(): string {
    return this.isDepressed ? '' : '0';
  }

  get buttonId(): string {
    return this.customId || `base-button-${this.title?.replace(/\s+/g, '-').toLowerCase()}`;
  }
}
</script>

<style lang="scss">
.base-button-container {
  .base-button {
    box-shadow: 0px 5px 25px rgba(210, 210, 210, 0.5) !important;
    border-radius: $radius_base_button;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: $primary_button_text_color;
    background-color: #1B31A8 !important;

    .v-btn__content {
      padding: 0 10px;
      letter-spacing: normal;
    }

    &.theme--light.v-btn--disabled,
    &.disabled {
      background-color: $button_disabled_background !important;
      box-shadow: none !important;
      color: $button_disabled_text !important;
    }
  }

  &.button-icon-plain {
    button.base-button {
      box-shadow: none !important;
      background-color: transparent !important;

      svg > path {
        fill: $placeholder_text_color;
        color: $placeholder_text_color;
      }

      .button-delete-plain {
        display: inline-flex;
        align-items: center;
        color: $placeholder_text_color;

        &:hover {
          color: $error_color;

          span,
          svg > path {
            fill: $error_color;
            color: $error_color;
          }
        }
      }

      .v-btn__content {
        opacity: 1 !important;

        span {
          margin-left: 4px;
          color: $placeholder_text_color;
          font-weight: 600;
        }
      }
    }
  }
}
</style>
