<template>
  <v-container fill-height fluid>
    <v-row
      align="center"
      justify="center"
    >
      <v-col>
        <v-card
          class="base-centered-card-container"
          elevation="6"
        >
          <div class="d-flex align-center mb-4">
              <img :data-ruid="'icon-close-side-panel'"
                   alt="House logo"
                   src="../../assets/house.svg"/>
            <div class="base-card-header">
              {{ title }}
            </div>
            <a
              v-if="!isAdminLogin && $route.name === 'Login'"
              :href="adminLoginUrl"
              class="admin-login">
                {{ $t('form.adminLogin') }}
            </a>
          </div>
          <slot></slot>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import Vue from 'vue';
import styleVariables from '../../styles/export.scss';

@Component({
  name: 'BaseCenteredCard'
})
export default class BaseCenteredCard extends Vue {
  @Prop({ default: null }) readonly title!: string;

  get isAdminLogin(): boolean {
    return !!this.$route.query.isAdmin;
  }

  styleVariables = styleVariables;

  adminLoginUrl = `${process.env.VUE_APP_AUTHENTICATION_URL}?redirect=${process.env.VUE_APP_ADMIN_URL}&isAdmin=true`
}
</script>

<style lang="scss">
.base-centered-card-container {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 511px;
  padding: 23px 30px;
  border-radius: $radius_large !important;

  &.v-card.v-sheet {
    box-shadow: 0px 0px 30px rgba(179, 179, 179, 0.3) !important;
  }

  .admin-login {
    font-size: 12px;
    margin: 0;
    margin-left: auto;
  }
}
</style>
