<template>
  <div class="ticket-status-switch-container">
    <div class="switch-status-button">
      <v-icon
        :class="'d-block'"
        @click="changeToPreviousMonth"
      >
        chevron_left
      </v-icon>
      <div class="switcher-text">
        <v-skeleton-loader
          type="heading"
        >
          {{ actualMonth }}
        </v-skeleton-loader>
        <v-skeleton-loader
          type="heading"
        >
          {{ actualYear }}
        </v-skeleton-loader>
      </div>
      <v-icon
        :class="'d-block'"
        @click="changeToNextMonth"
      >
        chevron_right
      </v-icon>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import BaseButton from '../widgets/BaseButton.vue';

@Component({
  name: 'TicketStatusSwitcher',
  components: {
    BaseButton
  }
})
export default class TicketStatusSwitcher extends Vue {
  actualMonth = '';

  actualYear = '';

  actualDate = this.$date();

  created() {
    this.actualMonth = this.$date().format('MMMM');
    this.actualYear = this.$date().format('YYYY');
  }

  changeToPreviousMonth(): void {
    const diff = this.actualDate.subtract(1, 'month').from(this.$date());
    if (diff.includes('ago') && diff !== 'seconds ago') {
      return;
    }
    this.actualDate = this.actualDate.subtract(1, 'month');
    this.actualMonth = this.actualDate.format('MMMM');
    this.actualYear = this.actualDate.format('YYYY');
    this.$emit('updatedDate', this.actualDate);
  }

  changeToNextMonth(): void {
    this.actualDate = this.actualDate.add(1, 'month');
    this.actualMonth = this.actualDate.format('MMMM');
    this.actualYear = this.actualDate.format('YYYY');
    this.$emit('updatedDate', this.actualDate);
  }
}
</script>

<style lang="scss" scoped>
.ticket-status-switch-container {
  .switch-status-button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-radius: $radius_medium;
    background-color: $white;
    height: 56px;
    padding: 10px;
    border: 1px solid #E9EEF2;
  }

  .switcher-text {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: $secondary_text_color;
  }
}
</style>

<style lang="scss">
.ticket-status-switch-container {
  .v-icon {
    width: 24px;
    height: 24px;
    color: #c7c7c8 !important;
    cursor: pointer;

    &:focus:after {
      opacity: 0;
    }

    &:hover:after {
      opacity: 0.12;
      cursor: pointer;
    }
  }

  .v-skeleton-loader__heading {
    margin-right: auto;
    margin-left: auto;
  }
}
</style>
