<template>
  <v-app id="app">
    <Header class="app-header header--light"/>
    <AppBody/>
    <Footer class="app-footer"/>
  </v-app>
</template>

<script lang="ts">
import 'reflect-metadata';
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import Header from '@/components/core/Header.vue';
import Footer from '@/components/core/Footer.vue';
import AppBody from '@/components/core/AppBody.vue';

@Component({
  components: {
    Header,
    AppBody,
    Footer
  }
})
export default class App extends Vue {
}
</script>

<style lang="scss">
@import "~@improve/common-components/src/styles/base-components";
@import "~@improve/common-components/src/styles/fonts/space-mono";
@import "~@improve/common-components/src/styles/fonts/roboto";
@import "~@improve/common-components/src/styles/fonts/montserrat";
@import "~@improve/common-components/src/styles/origin-base-components";
@import "~@improve/common-components/src/styles/helpers";
</style>
